#root {
  height: 100%;

  .container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    font-family: monospace;

    .container__enter {
      max-width: 600px;
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
    }

    .container__info {
      width: 100%;
      display: flex;
      justify-content: center;
      text-align: center;
      flex-wrap: wrap;
      margin-top: 10px;
      font-size: 1.2rem;
      color: #999898;

      a {
        color: #ea41dd;
      }
    }
  }
}
